/* Global Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    background-color: #141414;
  }
  
  #root {
    height: 100%;
  }
  
  .relative, .relative header, .relative img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  section {
    margin: 0;
    padding: 0;
  }
  